<header class="gray-header">
  <div class="header-left">
    <div class="header-logo">
      <%= link_to("ChatApp", root_path, {class: "header-logo-link"}) %>
    </div>
  </div>
  <div class="header-right">
    <u class="nav nav-tabs">
      <li class="search-user-btn">
        <!--<%= link_to("ユーザーを探す", "/users/search") %> -->
        ユーザーを探す
      </li>
      <li class="dropdown">
        user name
      </li>
    </ul>
  </div>
</header>
