.login_wrapper {
  margin-top: 70px;
  margin-left: 50px;
}

.form_wrapper {
  float: left;
  width: 320px;
  margin-left: 9%;
}

.login_title {
  text-align: center;
  padding-bottom: 25px;
  font-size: 30px
}

.form-group {
  margin-bottom: 15px;
}

.form-controll {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

.login-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.login-btn {
  width: 100%;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
}

a {
  color: #337ab7;
  text-decoration: none;
}

.new_user_title {
  text-align: center;
  padding-bottom: 25px;
  font-size: 30px;
}

.btn-info {
  color: rgb(255, 255, 255);
  background-color: rgb(91, 192, 222);
  border-color: rgb(70, 184, 218);
}

.new-user-btn {
  width: 100%;
}

.password_reset_wrapper {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
}

.password_reset_title {
  border-bottom: 1px solid #ccc;
  padding-bottom: 7px;
  margin-bottom: 25px;
}

.password-reset-btn {
  margin-bottom: 15px !important;
}

.edit_wrapper {
  margin-left: 20%;
  margin-right: 20%;
}

.edit_user_title {
  padding-top: 80px;
  text-align: center;
  padding-bottom: 25px;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  text-decoration: none;
}

.edit_user {
  width: 67%;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding: 55px;
  background: #fafafa;
  margin-left: auto;
  margin-right: auto;
}

.edit-form-group {
  margin-bottom: 25px !important;
}

.update_btn {
  width: 100%;
}

.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.user_destroy_btn {
  margin-top: 45px;
  margin-left: 65%;
}

.user_profile {
  width: 30%;
  border: 1px solid #fff;
  background: #fafafa;
  margin-left: auto;
  margin-right: auto;
  padding: 65px;
  border-radius: 4px;
  margin-top: 100px;
  text-align: center;
}

.user_profile_name {
  padding-bottom: 10px;
  font-size: 18px;
}

.user_profile_email {
  font-size: 18px;
}

.user_profile_edit_btn {
  margin-top: 30px;
}
